<a href="https://colab.research.google.com/github/Ayush-Singh2309/Python-Shivank/blob/main/05-Loops%202%20-%20Nested%20Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
for i in range(0,5):
  if i == 3 :
    break
  print(i)

0
1
2

In [ ]:
for i in range(0,5):
  if i == 3 :
    continue
  print(i)

0
1
2
4

In [ ]:
for i in range(0,5):
  if i == 3 :
    pass
  print(i)

0
1
2
3
4

In [ ]:
count = 0
while 2 < 5:
  num = int(input())
  count = count + 1
  if (num == 5):
    break
print("your provided ", count, " numbers")

1
3
5
your provided  3  numbers

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        break
    print(x)
else:
    print("Loop finished")

1
2

In [ ]:
n = int(input())
for i in range(n):
    for j in range(n):
        print("*", end = " ")
    print()

3
* * *
* * *
* * *

In [ ]:
number = int(input())
for i in range(1, number + 1):
    for j in range(1, 11):
        print(i*j, end = " ")
    print()

5
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
for i in range(3):
    for j in range(i, 3):
        print("*", end=" ")
    print()

* * *
* *
*

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

x = gcd(48, 180)
print(x)

12